$header-height: 60px;
$sidebar-width: 250px;
$footer-height: 50px;

$tablet: 768px;
$desktop: 1440px;

$color-primary: #f8f8f8;

$color-light: #ffffff;
$color-dark: #3f3f3f;
$color-light-gray: #f1f1f1;
$color-dark-gray: #cccccc;
$color-dark-gray-alternative: #acacac;
$color-light-blue: #838fff;
$color-dark-blue: #4753bb;
$color-green: #5ac79a;
$color-dark-green: #40af81;
$color-light-red: #f8968f;
$color-dark-red: #eb766d;

$border-radius-xs: 5px;
$border-radius-m: 7px;
$border-radius-l: 10px;

$box-shadow-light: 0 0 19px 0 rgba(0, 0, 0, 0.07);
$box-shadow-dark: 0 0 19px 0 rgba(0, 0, 0, 0.15);

$transition-duration: 0.3s;